html {
  background-color: #f0f0f0;
  min-width: 400px;
}

.header {  
  background-color: #2d3e52;
  position: sticky;  
  top: 0;
  z-index: 1;
  height: 50px;
}

.header img {
  height: 30px;
  padding: 10px;
}

.main img{
  padding-top: 10px;
  margin-left:30px;
  float:left;
  height:100px;
  z-index: 1;
}

.main{
background-color: #453225;
min-width: 400px;
min-height: 600x;
margin-top: 2%;
margin-left: 1%;
width: 30%;
height: 600px;
float:left;
border-radius:1% 1% 1% 1%;
box-shadow: 3px 3px 0px #AAAAAA;
}


.main h1{
  font-family: 'Open Sans', sans-serif;
  font-size:36px;
  color:#FFFFFF;
  margin-left: 120px;
  padding-top: 40px;
  height: 30px;
}

.main h2{
  text-align: center;
  font-family: 'Open Sans',sans-serif;
  font-size:22px;
  color: #FFFFFF;
  margin-left: 0%;
  padding: 50px 0px 0px 0px;
  float:top;
}


.main h3{ 
  background-color: #453225;
  font-family: 'Open Sans', sans-serif;
  font-size:15px;
  color:#FFFFFF;
  text-align: left;
  margin-left: 10%;
  padding-top: -20px;
  width: 80%;
  height: 60%;
  float:top;
}

h1{
  text-align: left;
}

h2{
  text-align: left;
}

.demo {
  min-height: 600px;
  margin-top: 2%;
  padding-left: 80px;
  background-image: url("zero-waste-photo.jpg");
  background-size: cover;
  background-color: #453225;
  margin-left: 2%;
  margin-right: auto;
  height: 600px;
  width: 60%;
  float: left;
  border-radius: 1%;
  box-shadow: 3px 3px 0px #AAAAAA;
  position: relative;
}

.demo h1 {
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  padding: 60px 0 2% 0;
  font-size: 50px;
  text-shadow: 1px 1px 0px #000000;
}

.demo h2 {
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 24px;
  width: 60%;
  text-shadow: 1px 1px 0px #000000;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.upload-label {
  font-size: 1.2em;
  margin-bottom: 10px;
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.upload-input {
  padding: 10px;
  margin-top: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.button {
  display: inline-block;
  border-radius: 12px;
  background-color: #f4511e;
  font-family: 'Oswald', sans-serif;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px 20px;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.upload-container, .image-preview-container {
  display: inline-block;
  vertical-align: top;
}

/* Style for the image preview container */
.image-preview-container {
  display: flex;
  align-items: center;
  margin-left: 20px; /* Space between upload container and image */
}

/* Style for the image container */
.image-container {
  max-width: 200px; /* Adjusted width for the preview */
  max-height: 150px; /* Adjusted height for the preview */
  border: 1px solid #ccc;
  padding: 5px;
}

/* Style for the selected image */
.selected-image {
  max-width: 100%;
  max-height: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

#loaderlabel {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 410px;
  z-index: 1;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;  
  animation: fade;
}

@keyframes fade {
  from { z-index: 1; }
  to { z-index: -1; }
}

#loader {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 470px;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

a:link {
  color: #3498db;
}

a:hover {
  color: #ff7700;
}

a:active {
  color: green;
}
